@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --dark-mode-bg: #0F0F0F;
    --dark-icon-bg: #3D3D3D;
    --slider-btn-bg: #3F3F3F;
    --dark-active-btn-bg: #FFFFFF;
    --dark-icon-color: #FFFFFF;
    --red-color: #FF0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark-mode-bg);
    font-family: 'Roboto', sans-serif;
}

/* header section */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
}

.header i{
    color: var(--dark-icon-color);
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.header i:hover{
    border: 1px solid var(--red-color);
}

.left {
    display: flex;
    align-items: center;
}
  
.left #menu {
    padding: 0 7px;
    cursor: pointer;
    font-size: 1.2rem;
}

.search {
    display: flex;
}
  
.search form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 20px;
}

.search input {
    width: 600px;
    padding:10px;
    border: 0;
    height: 100%;
    border-radius: 2px 0 0 2px;
    background: none;
}
  
input:focus {
    outline: none;
    border: 1px solid #ddd;
}

.search button {
    height: 100%;
    width: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--dark-icon-bg);
  }
  
.mic {
    margin-top: 10px;
}

/* main section */
main{
    height: calc(100vh - 70px);
    display: flex;
    background-color: var(--dark-mode-bg);
}

/* sidebar */
.side-bar {
    height: 100%;
    width: 17%;
    background-color: var(--dark-mode-bg);
    overflow-y: hidden;
  }