@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --dark-mode-bg: #0F0F0F;
    --dark-icon-bg: #3D3D3D;
    --slider-btn-bg: #3F3F3F;
    --dark-active-btn-bg: #FFFFFF;
    --dark-icon-color: #FFFFFF;
    --red-color: #FF0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* scroll-bar */
/* scrollbar  */

*::-webkit-scrollbar {
    width: 2px; 
    /* height: 0; */
}


::-webkit-scrollbar-track {
    background: var(--dark-icon-bg); /* Dark mode background */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--dark-icon-bg);
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: var(--light-mode-bg); 
}


input::-webkit-search-cancel-button {
    display: none;
}


input[type="search"]::-moz-search-clear-button {
    display: none;
}


body{
    background-color: var(--dark-mode-bg);
    font-family: 'Roboto', sans-serif;
}

/* header section */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
}

.header i{
    color: var(--dark-icon-color);
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}


.header i:hover{
    border: 1px solid var(--red-color);
}

.left {
    display: flex;
    align-items: center;
}
  
.left #menu {
    padding: 0 7px;
    cursor: pointer;
    font-size: 1.5rem;
}

.search {
    display: flex;
}
  
.search form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 20px;
}

.search input {
    width: 600px;
    padding:10px;
    border: 0;
    height: 100%;
    border-radius: 2px 0 0 2px;
    background: none;
}
  
input:focus {
    outline: none;
    border: 1px solid #ddd;
}

.search button {
    height: 100%;
    width: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--dark-icon-bg);
  }
  
.mic {
    margin-top: 10px;
}


/* sidebar */
.side-bar {
    height: 100%;
    width: 17%;
    background-color: var(--dark-mode-bg);
    overflow-y: scroll;
  }

.nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.nav-link i{
    font-size: 1.4rem;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
    transition: all 0.2s ease-in-out;
    color: var(--dark-icon-color);
    border-radius: 30px;
    font-size: 1rem;
}

 .nav-link span {
    margin-left: 15px;
   
}

 .nav-link:hover {
    /* background: var(--dark-active-btn-bg); */
    cursor: pointer;
    border: 1px solid var(--red-color);
}

.active {
    background: var(--slider-btn-bg);
 }

 hr{
    height: 1px;
    background-color: var(--slider-btn-bg);
    border: none;
 }

.nav-pic{
    width: 30px;
    height: 30px;
}

.nav-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

small{
    color: #AAAAAA;
    margin-right: 5px;
    cursor: pointer;
}

.footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

/* main section */
main{
    height: calc(100vh - 70px);
    display: flex;
    background-color: var(--dark-mode-bg);
}

.content {
    /* background-color: var(--slider-btn-bg); */
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    overflow-y: scroll;
}

.videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video {
    width: 270px;
    margin-bottom: 30px;
}

.thumbnail {
    width: 100%;
    height: 170px;
  }
  
  .thumbnail img {
    object-fit: cover;
    height: 94%;
    width: 100%;
  }
  .author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

  .details {
    display: flex;
  }
  
  .title {
    display: flex;
    flex-direction: column;
  }
  
  .title h3 {
    color: var(--dark-icon-color);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
  }
  
  .title a, .title span
  {
    text-decoration: none;
    font-size: 12px;
    color: #AAAAAA;
  }

  .hide{
    display: none;
  }